<article class="posts">
  <div class="title">
    <a href="/post/{{id}}" target="_blank">{{title}}</a>
      <span class="meta">
      Posted by
      {{user.username}}
      on
      {{format_date created_at}}
      <a href="{{post_url}}" id="website" target="_blank">Website</a>
    </span>
  </div>
  <div class="each-thought">
    {{#each thoughts}}
      {{thought_text}}
    {{/each}}
  </div>

</article>