<article>
  <a href="/dashboard" class="dash-link"> &larr; Dashboard</a>
  <h2>
   Update Post
  </h2>
  <form class="update-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
      <span>({{format_url post.post_url}})</span>
    </div>
    <div>
     Posted by you on {{format_date post.created_at}}
      <a href="/post/{{post.id}}" class="thought-link">{{post.thoughts.length}} {{format_plural "thought" post.thoughts.length}}</a>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<form class="thought-form">
  <div>
    <textarea name="thought-body"></textarea>
  </div>

  <div>
    <button type="submit">Add thought</button>
  </div>
</form>

{{> thoughts post.thoughts}}

<script src="/javascript/update-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/thought.js"></script>